* {
    margin: 0;
    padding: 0;
    list-style:none;
    border:0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #1F2937;
}

.second, .fourth {
    background: #fff;
}

.third {
    background: #E5E7EB;
}

.first {
    width: 1030px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 124px 0;
}

#header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}